<mat-card>
  <mat-card-header>Students
      &nbsp;
      <button mat-mini-fab color="primary" aria-label="Refresh" (click)="refresh()">
        <mat-icon>refresh</mat-icon>
      </button>
  </mat-card-header>
  <mat-card-content>
    @for (student of (students$ | async); track student.id) {
      <mat-list>{{student.name}}: {{ student.className }} {{ student.allYearAttendance$ | async }}</mat-list>
    }
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    {{ (leastPresentStudent$ | async)?.name }}: {{ leastPresentNumberOfAttendencesAllYear$ | async }}
  </mat-card-content>
</mat-card>
